<div class="row pad-top-xl">
    <div class="col-sm-12">
        <h2>Data Uploader</h2>
    </div>
</div>

    <div ng-switch on="state.current">
        <div ng-switch-when="fetching">
            <div class="alert alert-info" role="alert"><strong>Fetching....</strong> Please wait.</div>
        </div>
        <div ng-switch-when="saving">
            <div class="alert alert-info" role="alert"><strong>Saving....</strong> Please wait.</div>
        </div>
        <div ng-switch-when="saved">
            <div class="alert alert-success" role="alert"><strong>Saved!</strong></div>
        </div>
        <div ng-switch-when="error">
            <div class="alert alert-danger" role="alert"><strong>Error: </strong> {{state.msg}}</div>
        </div>
    </div>

    <div class="row pad-top-md">
        <div class="col-xs-12">
            <form
                    data-ng-hide="state.current === 'fetching'"
                    data-ng-submit="submit()">

                <div class="row">

                    <!-- JSON FILE -->

                    <div class="col-xs-12 form-group">
                        <label for="upload-file">JSON Data File</label>
                        <span class="validation-error pad-left-xs">{{data.upload.errors.file.join(', ')}}</span>
                        <input neo-simple-file-model="data.upload.file" type="file" id="upload-file" required>
                        <p class="help-block">Upload only files downloaded from the "Data Downloader" page.</p>
                    </div>

                    <!-- WARNING -->

                    <div class="col-xs-12 checkbox alert alert-info" role="alert">
                        <label>
                            <input type="checkbox" required> I understand that by uploading this this json file that I will be overwriting existing data in the database.
                        </label>
                    </div>

                    <!-- SUBMIT BUTTON -->

                    <div ng-switch on="ui.state.current">
                        <div class="col-xs-12" ng-switch-when="uploading">
                            <input type="submit" class="btn btn-primary disabled" value="Uploading..." />
                        </div>
                        <div class="col-xs-12" ng-switch-default>
                            <input type="submit" class="btn btn-primary" value="Upload" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>







