<div class="row pad-top-xl">
    <div class="col-sm-6">
        <h2>Data Downloader</h2>
    </div>
    <div class="col-md-6" ng-show="data.collectionNames.length">
        <button type="button" class="btn btn-primary pull-right pad-top-lg" data-ng-click="downloadCollections()">
            <span class="glyphicons download white icon-sm"></span> Download Collections
        </button>
    </div>
</div>

<div ng-show="!data.collectionNames.length" class="row">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert"><strong>Bummer!</strong> We could not find any MongoDB collections.</div>
    </div>
</div>

<table ng-show="data.collectionNames.length" class="table table-striped">
    <thead>
    <tr>
        <th>Collection Name</th>
        <th>Select to Download</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="collectionName in data.collectionNames">
        <td>{{collectionName}}</td>
        <td>
            <input
                    type="checkbox"
                    name="selectedCollectionNames[]"
                    value="{{collectionName}}"
                    ng-checked="selectedCollections.indexOf(collectionName) > -1"
                    ng-click="toggleSelection(collectionName)">
        </td>
    </tr>
    </tbody>
</table>
