<!-- Data App -->
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-db/public/scripts/modules/cms-data/apps/data-app.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-db/public/scripts/modules/cms-data/configs/data-routes.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-db/public/scripts/modules/cms-data/controllers/data-download-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-db/public/scripts/modules/cms-data/controllers/data-upload-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-db/public/scripts/modules/cms-data/services/data-services.js"></script>
