<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-hdd"></span> Data<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class=""><a href="/cms/data#/download">Download</a></li>
        <li class=""><a href="/cms/data#/upload">Upload</a></li>
    </ul>
</li>